<div class="container">
  <div id="page-wrapper" >

    <div class="row">
      <div class="col-lg-4">
        <div class="well">
          <form role="form">
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" data-ng-model="fName" type="text" placeholder="First Name">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" data-ng-model="lName" type="text" placeholder="Last Name">
            </div>
              <div class="form-group">
                  <label>Due Date </label>
                  <input class="form-control" data-ng-model="dte" type="date" placeholder="Last Name">
              </div>
            <div class="form-group">
              <label>Photo Input</label>
              <input type="file" >
            </div>
            <div class="form-group">
              <label>Address</label>
              <textarea class="form-control" data-ng-model="addr" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label>City</label>
              <input class="form-control" data-ng-model="city" placeholder="City">
            </div>
            <label>Amount</label>
            <div class="form-group input-group">
                <span class="input-group-addon"><strong>RS.</strong></span>
              <input type="text" class="form-control">
              <span class="input-group-addon">.00</span>
            </div>
              <!--
            <div class="form-group">
              <label>Checkboxes</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">Checkbox 1
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">Checkbox 2
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">Checkbox 3
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>Inline Checkboxes</label>
              <label class="checkbox-inline">
                <input type="checkbox">1
              </label>
              <label class="checkbox-inline">
                <input type="checkbox">2
              </label>
              <label class="checkbox-inline">
                <input type="checkbox">3
              </label>
            </div>
            <div class="form-group">
              <label>Radio Buttons</label>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Radio 1
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio 2
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio 3
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>Inline Radio Buttons</label>
              <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>1
              </label>
              <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
              </label>
              <label class="radio-inline">
                <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
              </label>
            </div>
            <div class="form-group">
              <label>Selects</label>
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label>Multiple Selects</label>
              <select multiple class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div> -->
            <button type="submit" class="btn btn-default">Submit Button</button>
            <button type="reset" class="btn btn-default">Reset Button</button>
          </form>
        </div>
      </div>


        <div class="col-lg-8">
            <div class="well">
                <label>
                    Search
                </label>
                <input type="text" data-ng-model="query" placeholder="Search">
            </div>

            <div class="span3 card" data-ng-repeat="customer in customers | orderBy:'id'">
                <button class="btn close cardClose" data-ng-click="deleteCustomer(customer.id)">&times;</button>
                <div class="cardHeaderNew" >
                    <a href=""  data-ng-click="getCus(customer.id)" > {{customer.firstName + ' ' + customer.lastName}} </a>
                </div>
                <br/>
                <div class="cardBody">{{customer.city}}</div>

            </div>
        </div>
    </div>
  </div>

</div>